# Python virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Node.js
node_modules/

# Build output
lib/

# GitHub workflows
.github/workflows