NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDH5W4RtjTzBkRa0wlPW9isIxv3jlAHRB8"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="talktotext-37f54.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="talktotext-37f54"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="talktotext-37f54.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="682893808651"
NEXT_PUBLIC_FIREBASE_APP_ID="1:682893808651:web:d6ba5b055ef8308506230e"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-MQ2Q6LCELZ"
GOOGLE_APPLICATION_CREDENTIALS=task/credentials.json

# 백엔드용 Firebase Admin SDK 설정
# GOOGLE_APPLICATION_CREDENTIALS=./firebase/firebase_key.json
GOOGLE_APPLICATION_CREDENTIALS=

FIREBASE_STORAGE_BUCKET=
FIREBASE_PROJECT_ID=

# 외부 API 키
HUGGINGFACE_TOKEN=
UPSTAGE_API_KEY=
OPENAI_API_KEY=


# 구글 캘린더 API 설정
GOOGLE_CALENDAR_CREDENTIALS=
GOOGLE_CALENDAR_ID=
